<h1 id="projectsHeading">Projects</h1>
<div id="cardsContainer">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="../../angular-portfolio/assets/images/python.jfif"
          alt="Avatar"
          style="width: 395px; height: 195px"
        />
        <h1>Python Data Comparison Tool</h1>
        <div class="buttonWrapper">
          <a
            href="https://github.com/akeemmckenzie/csvComparisonTool"
            target="_blank"
            class="button"
          >
            View on GitHub</a
          >
        </div>
        <h2>
          Tool used to compare JSON,EXCEL AND CSV Files<br />
          Technologies used:
        </h2>
        <dl>
          <dd>Python (Backend)</dd>
          <dd>PySimpleGUI(frontend)</dd>
          <dd>Pandas</dd>
          <dd>Sqllite</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="../../angular-portfolio/assets/images/islandapps.jfif"
          alt="Avatar"
          style="width: 395px; height: 195px"
        />
        <h1>Island Apps</h1>
        <div class="buttonWrapper">
          <a
            href="https://github.com/akeemmckenzie/csvComparisonTool"
            target="_blank"
            class="button"
          >
            View on GitHub</a
          >
        </div>
        <h2>
          Island Apps is a collection of mobile apps I created to modernized
          user experience in the tourism industry such as beaches and resorts.
          NB: This repo is not accessible<br />
          Technologies used:
        </h2>
        <dl>
          <dd>Swift</dd>
          <dd>Xamarin</dd>
          <dd>NativeScript</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="../../angular-portfolio/assets/images/unf.jfif"
          alt="Avatar"
          style="width: 395px; height: 195px"
        />
        <h1>UNF Projects</h1>
        <div class="buttonWrapper">
          <a
            href="https://github.com/akeemmckenzie/"
            target="_blank"
            class="button"
          >
            View on GitHub</a
          >
        </div>
        <h2>
          Throughout my years at UNF, I have completed many projects that
          demonstrated my knowledge in software development<br />
          Technologies used:
        </h2>
        <dl>
          <dd>Python</dd>
          <dd>Java</dd>
          <dd>C</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
