:host {
  display: grid;
  grid-template-rows: minmax(56px, auto) auto;
  place-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  grid-row-gap: 20px;
}
#cardsContainer {
  grid-area: 2 / 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 20px;
  place-items: right;

  min-height: 105%;
  width: 90%;
  padding-top: 40px;
  padding-bottom: 20px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  margin-left: 60px;
  background-color: transparent;
  width: 400px;
  height: absolute;
  border: 3px solid #f1f1f1;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front h1 {
  font-size: 20px;
  margin-top: 10px;
}
.flip-card-front h2 {
  margin-top: 10px;
  font-size: 15px;
  margin-left: 7px;
  text-align: left;
}

.buttonWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
